---
name: Pull Request CI
on:
  pull_request:
    branches: [main]
jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          check-latest: true
      - name: Print versions
        run: |
          git --version
          node --version
          npm --version
      - name: Install dependencies
        run: npm install
      - name: Check
        run: npm run check
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
