---
name: Upgrade dependencies
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
jobs:
  upgrade-packages:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          check-latest: true
      - name: Print versions
        run: |
          git --version
          node --version
          npm --version
      - name: Install dependencies
        run: npm install
      - name: Upgrade packages
        run: npm run update-deps
      - name: Install upgraded dependencies
        run: npm install
      - name: Fix Lint
        run: npm run lint-fix
      - name: CI
        run: npm run ci
      - name: Count git status
        id: git-status
        run: echo "files=$(git status --porcelain | wc -l)" >>"$GITHUB_OUTPUT"
      - uses: peter-evans/create-pull-request@v7
        if: steps.git-status.outputs.files != '1'
        with:
          commit-message: |
            chore: upgrade deps
          title: |
            chore: upgrade deps
          body: Updated dependencies
          branch: update-dependencies
